body
{
	background-color: #ebebe0;
 	margin: 0 auto;
 }


#firstdiv
{
	width: 60%;
	margin: 0 auto;
	position: relative;
}



img
{
	position: absolute;
	right: 70px;
	width: 200px;
	height: 200px;
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Safari */
    transform: rotate(-7deg); /* Standard syntax */
}



a:hover
{
	color: red;
}

a:link
{
	color: hotpink;
}



#paragraph
{
	line-height: 1;
	padding:  20px 0px 20px 0px;
}



.quali
{
	float: left;
	padding-right: 50px;
	padding-left: 100px;
	border-right:  black solid;
	height: 60px;
	font-family: "Times New Roman", Georgia, Serif ;
	font-weight: 900;
	font-size: 130%;
	font-style: oblique; 
}



#left
{
	width: 20%;
	float: left;
	text-align: right;
	font-size: 125%;
	font-weight: bold;
	font-style: oblique;
	padding-right: 20px;
	padding-top: 30px;
}

#left p
{
	border-right: solid #C6C6C6;
	padding-right: 20px;
	height: 60px;
}


#right
{
	width: 65%;
	height: 400px;
	float: left;
	padding-top: 30px;
	margin-right: 80px;
}


/*#right p
{
	border-left: solid #C6C6C6;
	padding-left: 20px;
}*/



#right b
{
	font-family: "Times New Roman";
	font-weight: 650;
	font-size: 125%;
}



#spanid
{
	font-size: 100%;
	color: #C6C6C6; /*C6C6C6*/
	float: right;
	font-style: oblique;
	font-weight: bold;
}






