body
{
	background-color: #ebebe0;
 	margin: 0 auto;
 }


#firstdiv
{
	width: 800px;
	margin: 0 auto;
	position: relative;
}



img
{
	position: absolute;
	right: 70px;
	width: 200px;
	height: 200px;
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Safari */
    transform: rotate(-7deg); /* Standard syntax */
}



a:hover
{
	color: red;
}

a:link
{
	color: hotpink;
}



#paragraph
{
	line-height: 1;
	padding:  30px 0px 30px 0px;
}




#qualidiv
{
	padding-top: 30px;
}



.quali
{
	float: left;
	padding-right: 50px;
	padding-left: 100px;
	border-right:  black solid;
	height: 60px;
	font-family: "Times New Roman", Georgia, Serif ;
	font-weight: 900;
	font-size: 130%;
	font-style: oblique; 
}



.qualipara
{
	line-height: 50%;
	padding-left: 50px;
}


#left
{
	width: 25%;
	background-color: blue;
	height: 400px;
	float: left;
	text-align: right;
	padding-right: 20px;
}


#right
{
	width: 70%;
	background-color: red;
	height: 400px;
	float: left;
}

#right p
{
	border-left: solid black;
	padding-left: 20px;
}






